<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8"/>
		<link rel="stylesheet" href="static/main.css" type="text/css" media="screen" />
		<title>{{college.name}} Rideshare</title>
		
		<script type="text/javascript"
				src="static/functions.js"></script>
		<script type="text/javascript"
				src="static/json-template.js"></script>
		
		<script type="text/javascript" 
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ52HDMJAYc6F6qworCH2Q4jpHCBmI77k&sensor=false&libraries=places"></script>
		
		<!-- Datepicker scripts and links -->
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
 		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 		
		<script>
			google.maps.event.addDomListener(window, 'load', initialize);
  			$(document).ready(function() {
    			$("#begindate").datepicker();
    			$("#enddate").datepicker();
				}
			);	
  		</script>	
	</head>

	<body>
	<div id="logo">
		<h1><a href="/main"><span>{{college.name}} Rideshare</span></a></h1>
	</div>
	<div id="header">
		<div id="menu" class="container">
	    	<ul>
	       		<li><span id="welcome-message">Welcome, {{user}}</span></li>
	       		<li><a href="/main">Main Page</a>
	        	<li><a href="/home">My Rides</a></li>
	        	<li><a href="/help">Help</a></li>
				<li><a href="{{logout_url}}">Sign out</a></li>
	        </ul>
	      </div>
	</div>
		
	<div id="info-and-controls">
		<table>
			<tr>
				<td id="general-info">
					<h4>General Info</h4>
					Click anywhere on the map to start creating a ride. You can create a ride whether you are
					driving or are looking for a driver.You may want to zoom in first so you can pick the
					right address. You can add yourself to a ride (whether as a driver or passenger)
					by clicking on one of the red or green markers on the map.  <br><br>
			        Instead of clicking on the map, you can enter a specific address in the search box to the right
			        and clicking create ride will begin the ride creation process at the correct location for you.
			            
			        You can also filter the rides on the map using the controls on the right.  Specify a beginning
			        and ending date for the time you are looking for a ride and the filter will only show rides on the 
			        map that fall between those dates.
				</td>
					
				<td id="search-controls">
					<table id="search-form">
						<tr id="search-box">
							<td>
								<h4>Enter an address or city, state to create a ride:<br></h4>
							    <input id="search-bar" type="text" size="45" name="address" />
							    <input type="button" value="Create Ride" onclick="showAddressSearchBox()"/>
						        <hr>
						    </td>
						</tr>
						<tr>
							<td id="filter-dates">
								<h4>Filter Rides</h4>
								<label>Beginning: <input id="begindate"/></label>
								<br>
								<label>Ending: <input id="enddate"/></label>
								<br>
								<input type="button" value="Show Matching Rides" onclick="filterRides()" />	
								<input type="button" value="Clear Filter" onclick="initialize()" />	
							</td>
						</tr>
				    </table>
				</td>
			</tr>
		</table>
	</div>
		
	<div id="map-canvas"></div>
		
	<div id="available-rides">
		<div id="rides-header">
			<h2><span>All Available Rides.</span></h2>
			
            <h4>Click on any destination to join the ride</h4>
		</div>
			
		<div class="ridelist">
            <table class="ride-table">
                <thead>
                  	<tr>
                    	<th>Driver's Name</th>
                    	<th>Additional Passengers</th>
		                <th>Starting Point</th>
		                <th>Destination</th>
		                <th>Time of Departure</th>
		                <th>Comments</th>
                 	</tr>
                </thead>
	            <tbody id="rideTableBody">
	            </tbody>
            </table>
        </div>
	</div>	
	
	<div id="footer">
  		<h3><span>Created at Luther College.  Developed and updated at Albright College.</span></h3>
  	</div>
	</body>
</html>
