<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8"/>
		<link rel="stylesheet" href="static/main.css" type="text/css" media="screen" />
		<title>{{college.name}} Rideshare</title>
		
		<script type="text/javascript"
				src="static/functions.js"></script>
		
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ52HDMJAYc6F6qworCH2Q4jpHCBmI77k&sensor=false&libraries=places"></script>
		
		<!-- Datepicker scripts and links -->
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
 		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 		
		<script>
			google.maps.event.addDomListener(window, 'load', initialize);
  			$(document).ready(function() {
    			$("#begindate").datepicker();
    			$("#enddate").datepicker();
				}
			);	
  		</script>	
	</head>

	<body>
		<div class="header">
	    	<div class="logo">
	    		<h1><a href="/main">{{college.name}} Rideshare</a></h1>
	        </div>
	        <div class="welcome-message">
	        	Welcome, {{user}}
	        </div>
	      	<div class="menu">
	        	<ul>
					<li><a href="/home">Your Rides</a></li>
					<li><a href="{{logout_url}}">Sign out</a></li>
					<li><a href="/help">Help</a></li>
	        	</ul>
	      	</div>
		</div>
		
		<div class="search-rides">
			<table>
				<tr>
					<td width="50%">
						Click anywhere on the map to create a
			            destination or starting point. You may want to zoom in first. You can
			            add yourself to a ride by clicking on one of the red or
			            green pushpins on the map.  <br><br>
			            Enter an address or filter the pushpins by date using the
			            controls on the right.
					</td>
					
					<td>
						<table class="search-form">
							<tr class="search-box">
								<td>
							         Enter an address or city, state to create a ride:
							        <input id="search-bar" type="text" size="45" name="address" />
							        <input type="button" value="Go!" onclick="showAddressSearchBox()"/>
						           	<hr>
						         </td>
							</tr>
							<tr class="search-dates">
								<td>
									<form>
										<label>Beginning
											<input id="begindate"/>
										</label>

										<label>Ending
											<input id="enddate"/>
										</label>

										<input type="button" value="Show Matching Rides" onclick="filterRides()" />	
										<input type="button" value="Clear Filter" onclick="initialize()" />	
									</form>
								</td>
							</tr>
				    	</table>
					</td>
				</tr>
			</table>
		</div>
		
		<div id="map-canvas"></div>
		
		<div class="available-rides">
		
			<div class="rides-header">
				<h2>All Available Rides.</h2>
                <p>Click Destination to join</p>
			</div>
			
			<div class="ridelist">
            	<table border="1" id="ride-table">
                	<thead>
                  		<tr>
                    		<th>Driver's Name</th>
                    		<th>Additional Passengers</th>
		                    <th>Starting Point</th>
		                    <th>Destination</th>
		                    <th>Time of Departure</th>
		                    <th>Comments</th>
                 		 </tr>
                	</thead>
	                <tbody id="rideTableBody">
	                </tbody>
            	</table>
        	</div>
		</div>
		
		
	</body>
</html>
