<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>{{college.name}} Rideshare</title>
</head>

<body>
	<div id="logo">
		<h1><a href="/main"><span>{{college.name}} Rideshare</span></a></h1>
	</div>
	<div id="header">
		<div id="menu" class="container">
	    	<ul>
	       		<li><span id="welcome-message">Welcome, {{user}}</span></li>
	       		<li><a href="/main">Main Page</a>
	        	<li><a href="/home">My Rides</a></li>
	        	<li><a href="/help">Help</a></li>
				<li><a href="{{logout_url}}">Sign out</a></li>
	        </ul>
	      </div>
	</div>
	
  	<div id="content">
  		{% block content %}
  		{% endblock %}
  	</div>
  	
  	<div id="footer">
  		<h3><span>Created at Luther College.  Developed and updated at Albright College.</span></h3>
  	</div>
</body>
</html>