body {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #787878;
	
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #32639A;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #4486C7;
}

#map-canvas {
	height: 500px;	
}
		
#ride-table {
	width: 100%;
}

.centered-cell {
	text-align: center;
}

.ride-comment {
	text-align: left;
}